body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color)
  }
  
  body.light {
    --primary-color: magenta;
    --primary-color-text: white;
  
    --secondary-color: orange;
  
    --accent-color: red;
  
    --background-color: white;
    --background-color-100: lightgray;
  
    --text-color: black;
  }
  
  body.dark {
    --primary-color: #008CB3;
    --primary-color-text: white;
  
    --secondary-color: #FF3465;
  
    --accent-color: #12D8A6;
  
    --background-color: #04143A;
    --background-color-100: lightgray;
  
    --text-color: white;
  }
  