.header{
  color: #c1f6f0;;
  font-weight: bold;
  background-color: #076d8b;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
  
  body {
    display: flex;
    background-color: #008cb3;
    margin: 0;
    padding: 0;
  }
  