body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-color: var(--primary-color-text);
    margin: 0;
    padding: 0;
    --default-border-radius: 4px;
    --default-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
  }
  
  body.light, body {
    --primary-color: #008cb3;
    --primary-color-text: #c1f6f0;
    --secondary-color: #076d8b;
    --accent-color: red;
    --danger-color: red;
    --background-color: white;
    --background-color-100: lightgray;
    --text-color: black;
    --input-color:rgb(255, 255, 255);
    --comment-color:#27a4ca;
  }
  
  body.dark {
    --primary-color: #015774;
    --primary-color-text: #0199be;
    --secondary-color: #025374;
    --danger-color: red;
    --accent-color: #c44d58;
    --background-color: #0f7b96;
    --background-color-100: #01637e;
    --text-color: #839496;
    --input-color:rgb(32, 194, 167);
    --comment-color:#085e79;
  }
  
  