.header{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #3d3d3d;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  body {
    display: flex;
    background-color: #722112;
    margin: 0;
    padding: 0;
  }
  