.button {
  background-color: transparent;
  border: 1px solid transparent;
  margin: 5px;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  box-shadow: var(--default-shadow);
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-color: var(--primary-color);
}

.secondary {
  background-color: var(--primary-color-text);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.accent {
  background-color: var(--accent-color);
  color: var(--primary-color-text);
  border-color: var(--primary-color-text);
}
