.root {
  display: grid;
}

.input {
  font-size: 18px;
  padding: 5px 8px;
  border-radius: var(--default-border-radius);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color:  var(--input-color);
  box-shadow: var(--default-shadow);
}

.errorLabel {
  color: var(--danger-color);
  font-size: 20px;
}
